# Python
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.env

# Node/React
node_modules/
dist/
build/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS / Editor / Custom
.DS_Store
.vscode/
.idea/
OLD/
kafka_2.13-3.7.0/

# SQLite/Local DBs
*.db
# Note: Humne .sql files ko deliberately ignore nahi kiya hai taaki DB dumps push ho sakein.